@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
  font-family: "SpaceGrotesk";
  src: url("/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
}

/* This file is for your main application CSS */
.home-header {
  @apply text-4xl text-red-500 font-bold tracking-tight;
  text-align: center;
  font-family: "SpaceGrotesk", sans-serif;
}
.home-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.filter-container {
  @apply p-4 bg-gray-300 rounded-lg;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.list-container {
  @apply p-4 bg-gray-100 rounded-lg;
}
.app-title {
  @apply text-2xl text-red-500 font-bold tracking-tight;
  font-family: "SpaceGrotesk", sans-serif;
  color: white;
  letter-spacing: 0.1rem; 
  font-weight: 500
}
.list-item {
  @apply p-2 bg-gray-100 text-red-800 rounded-lg tracking-tight font-bold;
  margin-bottom: 0.3rem;
  font-family: "SpaceGrotesk", sans-serif;
  font-weight: 500;
}

.u-status {
  display: flex;
  justify-content: center;
}

/*
 * Loading Spinner
 *
 * Copied from:
 * https://projects.lukehaas.me/css-loaders/
 */

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  color: crimson;
  font-size: 10px;
  margin: 20px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
